<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h1>Editing Book</h1>
      <%= form_with(model: @book, url: book_path(@book), method: :patch, html: { enctype: "multipart/form-data" }) do |form| %>
        <%= form.hidden_field :authenticity_token %>
        <div class="form-group">
          <label for="book_title">Title</label>
          <input class="form-control book_title" type="text" value="ttt" name="book[title]" id="book_title">
        </div>
        <div class="form-group">
          <label for="book_opinion">Opinion</label>
          <textarea class="form-control book_body" name="book[body]" id="book_body">ttt</textarea>
　      </div>
　      <div class="form-group">
　        <input type="submit" name="commit" value="Update Book" class="btn btn-success" data-disable-with="Update Book">
　      </div>
　    <% end %>
      <%= link_to "show",user_path(@book.id)%>
        |
      <%= link_to "Back",books_path %>
    </div>
  </div>
</div>